@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.homepage {
.feedback {
  padding-top: 20px;
  font-size: 0.6cm;
  color:#a98b98;
  font-family: "Orbitron";
  background-color: #f9f3f3;
  border-color: #f9f3f3;
  cursor: pointer;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  
}
.repl {
    margin-top: 150px;
  }
.wrapper {
  margin-top: 2cm;
  text-align: center;
}
}
