@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.collection-page {
  margin-top: 50px;
  font-family: "Dancing Script";
  .title{
    margin-bottom: 60px;
    color: #a98b98;
    background-color:#f9f3f3;
    font-size: 0.8cm;
    font-family: "Orbitron";
    text-align: center;


  }

}


